html {
	scroll-behavior: smooth;
}

.bg {
	background-color: #f8ede3;
}

/*body*/
#abstractimg {
	color: black;
	border-style: double;
	position: static;
	height: 550px;
	width: auto;
}

section > p {
	text-align: end;
}
body > h2 {
	font-family: "Cedarville Cursive", cursive;
	font-size: xx-large;
	color: grey;
	border-style: dashed;
	text-align: center;
	opacity: 50%;
	position: relative;
}

body > h1 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: black;

	text-align: center;
	position: relative;
}
/* navigator */
nav {
	position: fixed;
	margin-left: 90vw;
	z-index: 99;
}

nav li {
	padding: 5px;
}

button {
	background-color: #889a9d;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	border-radius: 90px;
}

main {
	padding: 5vw;
	position: relative;
}

#placeholder:hover {
	opacity: 50%;
}

/*footer and children*/

h3 {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: black;
	justify-content: flex-end;
	position: relative;
	border-style: double;
}

#selfie {
	height: 350px;
	width: auto;
	color: black;
	border-style: double;
	border-radius: 90px;
	position: relative;
	margin-left: 50vw;
	margin-bottom: 5vw;
}

p {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#block {
	background-color: black;
	width: 100%;
	height: 100%;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

/* Portrait */
@media screen and (orientation: portrait) {
	/* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
	/* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
